<div class="row">
  <h2>Edit Customer</h2>
  <form [formGroup]="customerForm" (submit)="updateCustomer()">
    <mat-form-field appearance="legacy">
      <mat-label>Name</mat-label>
      <input matInput placeholder="name" class="form-control" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="phone" class="form-control" formControlName="phone">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Address" class="form-control" formControlName="address">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Membership</mat-label>
      <mat-select formControlName="membership" class="form-control">
        <mat-option value="Basic">Basic</mat-option>
        <mat-option value="Pro">Pro</mat-option>
        <mat-option value="Platinum">Platinum</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary">Edit Customer</button>
  </form>

</div>
